# SQL Part 3 Studio

### Let's practice your SQL quering skills!  For each question, work along in the notebook adding your query and answering the questions. 

### **DataSet**

### <span style="font-size: 14px; font-family: -apple-system, BlinkMacSystemFont, sans-serif;">We will be using the Goodbooks-10k dataset from the exercises in the prep work.&nbsp; Feel free reference your previous notebooks.</span>

- The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
- You can access the **BooksDB** in the Launchcode server.

### **Business Issue**

You are an employee at a small independet bookstore and you have been tasked to increase sales.  You decide to use the BooksDB to find books and themes to highlight in fun promotions throughout each month / season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of events/ promotions to run each month.  If you are looking for ideas to include in your promotions:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, Dr Seuss Day(3/2), National Pie Day3/14, St Patrick's Day (3/17), Season - Spring

### **Event 1:** Women's History Month

Goal: Highlight Popular Womans Authors based on ratings from the Good Reads DB.

### **Write a query that returns tag\_id, the number of times each tag\_id is used and the tag\_name.**  

### Use the GROUP BY and HAVING clause to narrow your focus.

Try multiple keywords, ie woman vs female (female ended up giving better results)

In [57]:
-- Solution

SELECT TOP 50 t.tag_id, t.tag_name, bt.count
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%women%'
GROUP BY  t.tag_id, t.tag_name, bt.count
HAVING t.tag_id = 32686
ORDER BY bt.count DESC

--ORDER BY bt.count DESC

SELECT TOP 50 tag_name
FROM BooksDB.dbo.tags 
WHERE tag_name LIKE '%women%'

/*
SELECT TOP 50  b.authors, b.title, b.average_rating,t.tag_id, t.tag_name, COUNT(t.tag_id)
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.books AS b
ON bt.tag_id = b.best_book_id
WHERE t.tag_name = '%women%'
*/
/*
SELECT TOP 50 bt.tag_id, b.authors, b.title, b.average_rating
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS b
ON bt.tag_id = b.best_book_id
*/

tag_id,tag_name,count
32686,women,431
32686,women,304
32686,women,237
32686,women,228
32686,women,216
32686,women,209
32686,women,205
32686,women,202
32686,women,194
32686,women,169
32686,women,168
32686,women,167
32686,women,163
32686,women,162
32686,women,161
32686,women,159
32686,women,158
32686,women,150
32686,women,148
32686,women,147
32686,women,143
32686,women,138
32686,women,136
32686,women,132
32686,women,131
32686,women,128
32686,women,125
32686,women,122
32686,women,118
32686,women,111
32686,women,103
32686,women,101
32686,women,100
32686,women,96
32686,women,95
32686,women,93
32686,women,92
32686,women,90
32686,women,86
32686,women,84
32686,women,82
32686,women,81
32686,women,80
32686,women,78
32686,women,77
32686,women,75
32686,women,74
32686,women,72
32686,women,71
32686,women,69

tag_name
1960s-women-s-status
2017-read-women
4-women-intertwined-stories
500-women
abused-women
arab-women
artist-women-bio
australian-women-writers
biographies-of-women
biography-women
books-by-women
by-women
career-women
chinese-women
christian-women
cis-women
education-for-women
for-women
friendship-women
funny-women
gutsy-women
historical-fiction-civil-war-women
islamic-women
james-patterson-women-s-murder-cl
james-patterson-women-s-murder-club
james-patterson-womens-murder-club
little-women
men-women
men-women-relations
muslim-women
own-written-by-women
patterson-women-s-murder-club
patterson-womens-murder-club
pioneer-women
policewomen
readwomen2014
readwomen2016
series-women-of-the-otherworld
series-womens-murder-club
single-women
strong-women
the-life-of-women-in-royal-family-o
women
women-and-religion
women-authors
women-entrepeneurs
women-feminism
women-fiction
women-friends
women-friendships

In [47]:

SELECT TOP 50 t.tag_id, t.tag_name, bt.count, r.rating
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
INNER JOIN BooksDB.dbo.ratings AS r
ON t.tag_id = r.book_id

WHERE t.tag_name LIKE '%women%'
GROUP BY  t.tag_id, t.tag_name, bt.count
HAVING t.tag_id = 32686
ORDER BY r.rating DESC

--ORDER BY bt.count DESC

SELECT TOP 50 tag_name
FROM BooksDB.dbo.tags 
WHERE tag_name LIKE '%women%'

/*
SELECT TOP 50  b.authors, b.title, b.average_rating,t.tag_id, t.tag_name, COUNT(t.tag_id)
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.books AS b
ON bt.tag_id = b.best_book_id
WHERE t.tag_name = '%women%'
*/
/*
SELECT TOP 50 bt.tag_id, b.authors, b.title, b.average_rating
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS b
ON bt.tag_id = b.best_book_id
*/

tag_name
1960s-women-s-status
2017-read-women
4-women-intertwined-stories
500-women
abused-women
arab-women
artist-women-bio
australian-women-writers
biographies-of-women
biography-women
books-by-women
by-women
career-women
chinese-women
christian-women
cis-women
education-for-women
for-women
friendship-women
funny-women
gutsy-women
historical-fiction-civil-war-women
islamic-women
james-patterson-women-s-murder-cl
james-patterson-women-s-murder-club
james-patterson-womens-murder-club
little-women
men-women
men-women-relations
muslim-women
own-written-by-women
patterson-women-s-murder-club
patterson-womens-murder-club
pioneer-women
policewomen
readwomen2014
readwomen2016
series-women-of-the-otherworld
series-womens-murder-club
single-women
strong-women
the-life-of-women-in-royal-family-o
women
women-and-religion
women-authors
women-entrepeneurs
women-feminism
women-fiction
women-friends
women-friendships

### **Which keyword(s) and tag(s) would you like to explore more?**

Men, Thanksgiving

### **Write a query to return authors, titles, ratings and** **selected tag(s)\_id.**

In [53]:
-- Solution
SELECT TOP 50 bt.tag_id, b.authors, b.title, b.average_rating
FROM BooksDB.dbo.book_tags AS bt
INNER JOIN BooksDB.dbo.books AS b
ON bt.tag_id = b.best_book_id
GROUP BY  bt.tag_id, b.authors, b.title, b.average_rating

tag_id,authors,title,average_rating
3,"J.K. Rowling, Mary GrandPré","Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",4.44
2657,Harper Lee,To Kill a Mockingbird,4.25
4671,F. Scott Fitzgerald,The Great Gatsby,3.89
5907,J.R.R. Tolkien,The Hobbit,4.25
5107,J.D. Salinger,The Catcher in the Rye,3.79
960,Dan Brown,"Angels & Demons (Robert Langdon, #1)",3.85
1885,Jane Austen,Pride and Prejudice,4.24
5470,"George Orwell, Erich Fromm, Celâl Üster",1984,4.14
7613,George Orwell,Animal Farm,3.87
5,"J.K. Rowling, Mary GrandPré, Rufus Beck","Harry Potter and the Prisoner of Azkaban (Harry Potter, #3)",4.53
34,J.R.R. Tolkien,"The Fellowship of the Ring (The Lord of the Rings, #1)",4.34
2,"J.K. Rowling, Mary GrandPré","Harry Potter and the Order of the Phoenix (Harry Potter, #5)",4.46
15881,"J.K. Rowling, Mary GrandPré","Harry Potter and the Chamber of Secrets (Harry Potter, #2)",4.37
6,"J.K. Rowling, Mary GrandPré","Harry Potter and the Goblet of Fire (Harry Potter, #4)",4.53
968,Dan Brown,"The Da Vinci Code (Robert Langdon, #2)",3.79
1,"J.K. Rowling, Mary GrandPré","Harry Potter and the Half-Blood Prince (Harry Potter, #6)",4.54
7624,William Golding,Lord of the Flies,3.64
18135,"William Shakespeare, Robert Jackson",Romeo and Juliet,3.73
890,John Steinbeck,Of Mice and Men,3.84
929,Arthur Golden,Memoirs of a Geisha,4.08
865,"Paulo Coelho, Alan R. Clarke",The Alchemist,3.82
3636,Lois Lowry,"The Giver (The Giver, #1)",4.12
13496,George R.R. Martin,"A Game of Thrones (A Song of Ice and Fire, #1)",4.45
19501,Elizabeth Gilbert,"Eat, Pray, Love",3.51
28187,Rick Riordan,"The Lightning Thief (Percy Jackson and the Olympians, #1)",4.23
1934,Louisa May Alcott,"Little Women (Little Women, #1)",4.04
10210,"Charlotte Brontë, Michael Mason",Jane Eyre,4.1
15931,Nicholas Sparks,"The Notebook (The Notebook, #1)",4.06
4214,Yann Martel,Life of Pi,3.88
19063,Markus Zusak,The Book Thief,4.36
4381,Ray Bradbury,Fahrenheit 451,3.97
30119,Shel Silverstein,Where the Sidewalk Ends,4.29
5129,Aldous Huxley,Brave New World,3.97
2956,"Mark Twain, John Seelye, Guy Cardwell",The Adventures of Huckleberry Finn,3.8
24178,"E.B. White, Garth Williams, Rosemary Wells",Charlotte's Web,4.15
1618,Mark Haddon,The Curious Incident of the Dog in the Night-Time,3.85
6185,"Emily Brontë, Richard J. Dunn",Wuthering Heights,3.82
10917,Jodi Picoult,My Sister's Keeper,4.06
4981,Kurt Vonnegut Jr.,Slaughterhouse-Five,4.06
18405,Margaret Mitchell,Gone with the Wind,4.28
22628,Stephen Chbosky,The Perks of Being a Wallflower,4.21
18490,"Mary Wollstonecraft Shelley, Percy Bysshe Shelley, Maurice Hindle",Frankenstein,3.75
11588,Stephen King,The Shining (The Shining #1),4.17
14935,"Jane Austen, Tony Tanner, Ros Ballaster",Sense and Sensibility,4.06
23966,Irvine Welsh,Filth,3.76
5139,Lauren Weisberger,"The Devil Wears Prada (The Devil Wears Prada, #1)",3.7
1381,"Homer, Robert Fagles, E.V. Rieu, Frédéric Mugler, Bernard Knox",The Odyssey,3.73
7445,Jeannette Walls,The Glass Castle,4.24
1845,Jon Krakauer,Into the Wild,3.94
1953,"Charles Dickens, Richard Maxwell, Hablot Knight Browne",A Tale of Two Cities,3.81

### **Record your thoughts about why you wrote the query the way you did.**

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions.

Which month did you choose?  November

What 2 events / promotions are you highlighting?

> 1. Thanksgiving

> 2. Haloween

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in the BooksDB to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a HAVING clause.

In [71]:
-- Event 1 Query

SELECT TOP 50 t.tag_id, t.tag_name, bt.count
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%thanksgiving%'
GROUP by t.tag_id, t.tag_name, bt.count
HAVING t.tag_id = 29599
ORDER BY bt.count DESC

tag_id,tag_name,count
29599,thanksgiving,8
29599,thanksgiving,6
29599,thanksgiving,1

In [66]:

SELECT TOP 50 t.tag_id, t.tag_name, bt.count
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%recommended%'
GROUP by t.tag_id, t.tag_name, bt.count
HAVING t.tag_id = 25506
ORDER BY bt.count DESC

tag_id,tag_name,count
25506,recommended,248
25506,recommended,181
25506,recommended,178
25506,recommended,171
25506,recommended,165
25506,recommended,162
25506,recommended,151
25506,recommended,148
25506,recommended,142
25506,recommended,138
25506,recommended,127
25506,recommended,113
25506,recommended,105
25506,recommended,104
25506,recommended,103
25506,recommended,102
25506,recommended,99
25506,recommended,98
25506,recommended,94
25506,recommended,90
25506,recommended,89
25506,recommended,88
25506,recommended,86
25506,recommended,85
25506,recommended,82
25506,recommended,81
25506,recommended,80
25506,recommended,79
25506,recommended,78
25506,recommended,77
25506,recommended,76
25506,recommended,74
25506,recommended,73
25506,recommended,71
25506,recommended,70
25506,recommended,69
25506,recommended,68
25506,recommended,67
25506,recommended,64
25506,recommended,63
25506,recommended,62
25506,recommended,61
25506,recommended,60
25506,recommended,58
25506,recommended,57
25506,recommended,56
25506,recommended,55
25506,recommended,54
25506,recommended,53
25506,recommended,52

### **Summary of event 1:**

Double Click to edit.

In [ ]:
-- Event 2 Query
SELECT TOP 50 t.tag_id, t.tag_name, bt.count
FROM BooksDB.dbo.tags AS t
INNER JOIN BooksDB.dbo.book_tags AS bt
ON t.tag_id = bt.tag_id
WHERE t.tag_name LIKE '%recommended%'
GROUP by t.tag_id, t.tag_name, bt.count
HAVING t.tag_id = 25506
ORDER BY bt.count DESC

### **Summary of event 2:**

Double Click to edit.